<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.board.mapper.BoardMapper">
    <select id="getList" resultType="BoardVO">
        <!--    Compiled Data 라는 뜻 -->
        <![CDATA[
        SELECT * FROM tbl_board
        ORDER BY no DESC
        ]]>
    </select>

    <select id="get" resultType="org.scoula.board.domain.BoardVO">
        SELECT *
        FROM tbl_board
        WHERE no = #{no} # 매개변수 1개 전달 가능
    </select>

    <insert id="create">
        INSERT INTO tbl_board (title, content, writer)
        VALUES (#{title}, #{content}, #{writer})

        # keyProperty="no" -> setNo 사용해야 함
        <selectKey resultType="Long" keyProperty="no" keyColumn="no" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
    </insert>

    <update id="update">
        UPDATE tbl_board
        SET title=#{title},
            content=#{content},
            writer=#{writer},
            update_date=NOW()
        WHERE no = #{no}
    </update>

    <delete id="delete">
        DELETE
        FROM tbl_board
        WHERE no = #{no}
    </delete>
</mapper>